#message {
  text-align: center;
  height: 30px;
}
.alert {
  background: #fa2209;
  border-color: #000000;
  border: 3px solid #000000;
}
.warning {
  background: #edebaf;
  border-color: #000000;
  border: 3px solid #000000;
}
.info {
  background: #0a7bc1;
  border-color: #000000;
  border: 3px solid #000000;
}
#message p{
  color:#ffffff;
  padding-top: 7px;
}
