<ul>
  {{ review }}
  {% if review == NULL %}
    <p>You don't have any reviews.</p>
  {% else %}
    {{ review }}
    <h1>Your current reviews:</h1>
    {% for r in review %}
      <div id="review"><br>
        Review on: {{ r.title}}<br>
        Raiting:{% for i in 1..r.stars %}
        <span>&#9733;</span>
        {% endfor %}
      </div>
    {% endfor %}
  {% endif %}
</ul>
