{% set imagestyle = {
  '#theme':      'image_style',
  '#style_name':  image_style,
  '#uri':         url,
  '#alt':         alt,
  '#attributes': { class: 'Icon' },
} %}
<div class="title_icon">
  {{ imagestyle }}
  <p>{{item}}</p>
</div>
