<div>
  <h3><b>{{ city }}</b> | {{ date }} </h3>
  <p>Day Temperature: <span>{{ day }}</span><span>&#8451;</span></p>
  <p>Night Temperature: <span>{{ night }}</span><span>&#8451;</span></p>
  <p>Min / Max Temperature: <span>{{ min }}</span><span>&#8451; | <span>{{ max }}</span><span>&#8451;</span></p>
  <p>Description: {{ main }}, {{ description }}</p>
</div>
