{#
/**
 * @file review_entity.html.twig
 * Default theme implementation to present Review entity data.
 *
 * This template is used when viewing Review entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_review_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('review_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
